@model SalesWebMvc.Models.Department

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>
<br />

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <a asp-action="Index" class="btn btn-dark">Back to List</a>
                <input type="submit" value="Create New Department" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
